html {
	overflow: hidden;
}

body {
	font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui,
		BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
	background-color: rgb(15, 27, 47);
	background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
	background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
	background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

.preloader {
	display: block;
}

.main-content {
	background-color: rgb(15, 27, 47);
	color: rgb(136, 146, 176);
	opacity: 0; /*changed in js*/
	display: none; /*changed in js*/
	transition: opacity 2s ease-in;
	padding: 1rem 10rem;
}

.main-content .navbar {
	justify-content: space-between;
}

.main-content h1 {
}

.main-content .intro {
	width: 100vw;
	height: 100vh;
}

.main-content .intro h7 {
	color: #28a745;
}

.main-content .intro h1 {
	font-size: 5rem;
	color: rgb(204, 214, 246);
}

.main-content .intro h2 {
	font-size: 5rem;
}

.main-content .intro .intro-paragraph {
	width: 40vw;
	padding-top: 3rem;
}

.main-content .intro .get-intouch {
	margin-top: 4rem;
}

.main-content .about {
	width: 100vw;
	height: 100vh;
}

/* Main content */

.main-content .navbar {
	color: rgb(136, 146, 176);
	background-color: rgb(15, 27, 47);
	width: 85vw;
}

.main-content .navbar .navbar-text .collapse a {
	color: rgb(136, 146, 176);
}

section {
	padding: 7rem 0;
}

section h2 {
	color: rgb(204, 214, 246);
}

section .d-flex {
	margin-right: 7rem;
	padding: 3rem;
}
section .d-flex .about-content .row .col h2::before {
	content: '01.';
	margin-right: 10px;
	font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
		Monaco, monospace;
	font-weight: normal;
	color: #28a745;
	font-size: 20px;
	position: relative;
	bottom: 4px;
}

section .d-flex .about-content .intro-p1 {
	padding-top: 30px;
}

section .d-flex .about-content .tech-list {
	display: grid;
	grid-template-columns: repeat(2, minmax(140px, 200px));
	overflow: hidden;
	padding: 0px;
	margin: 25px 0px 0px;
	list-style: outside none none;
}

section .d-flex .about-content .tech-list li {
	position: relative;
	margin-bottom: 10px;
	padding-left: 20px;
	font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
		Monaco, monospace;
	font-size: 13px;
	color: rgb(136, 146, 176);
}

section .d-flex .about-content .tech-list li::before {
	content: '▹';
	position: absolute;
	left: 0px;
	color: #28a745;
	font-size: 14px;
	line-height: 12px;
}

section .d-flex .about-image {
	align-content: center;
}

/* work section */

.work .container a {
	display: inline-block;
	text-decoration: none;
	text-decoration-skip-ink: auto;
	position: relative;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	cursor: pointer;
	color: #28a745;
}

.work h2::before {
	content: '02.';
	margin-right: 10px;
	font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
		Monaco, monospace;
	font-weight: normal;
	color: #28a745;
	font-size: 20px;
	position: relative;
	bottom: 4px;
}

.work .container .work-details {
	padding: 0px;
	margin: 0px;
	list-style: outside none none;
	font-size: 18px;
}

.work .container li::before {
	content: '▹';
	position: absolute;
	left: 0px;
	color: #28a745;
}

.work .container li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
}

/* Projects section */

.projects h2::before {
	content: '03.';
	margin-right: 10px;
	font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
		Monaco, monospace;
	font-weight: normal;
	color: #28a745;
	font-size: 20px;
	position: relative;
	bottom: 4px;
}

.projects h2 {
	text-align: center;
	padding-bottom: 50px;
}

.projects .projects-list {
	display: grid;
}

.projects;
